extends layout

block body
  div.navigation
    span.title #{channel} #{page}
    = ' | '
    a(href='index') index
    = ' | '
    - if (previous)
      a(href=previous) previous (#{previous})
    - else
      span.nolink previous (none)
    = ' | '
    - if (next)
      a(href=next) next (#{next})
    - else
      span.nolink next (none)
    = ' | '
    - if (!isLatest)
      a(href='latest') latest
    - else
      span.nolink latest
    = ' | '
    a(href='/logs/') logs

  div.log
    table.log
      tbody
        - each event in events
          tr(class=event.type)
            td.time
              a(href='#' + event.timestamp)= event.time
              a(name= event.timestamp, class='time-anchor')
                - var nbsp = '&nbsp;'
                !{nbsp}
            - if (event.type == 'text')
              td.nick= '<' + event.user + '>'
              td.content= Autolinker.link(event.message,{ newWindow : true , truncate: 25 })
            - if (event.type == 'join')
              td.nick= '<' + event.user + '>'
              td.content= 'joined'
            - if (event.type == 'part')
              td.nick= '<' + event.user + '>'
              td.content= 'quit'
            - if (event.type == 'topic')
              td.nick= '* '+ event.user 
              td.content= 'topic: ' + Autolinker.link(event.message,{ newWindow : true })

